@import url(css/variables.css);
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-family: "Inter", sans-serif;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

body > h1 {
  color: white;
}

.last-workout {
  color: white;
}

.card-wrapper {
  background-color: var(--bg-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 24px;
  border-radius: var(--border-radius);
  gap: 24px;
}

.timer-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.timer-display {
  background-color: var(--bg-grey);
  border-radius: var(--border-radius);
  border: 3px solid var(--accent-color);
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 16px;
  gap: 8px;
}
#timer-value {
  font-size: 40px;
}

.timer-btn-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn {
  color: black;
  border-radius: var(--border-radius);
  padding: 12px 24px;
  width: 100%;
}

.btn-primary {
  background-color: var(--accent-color);
}

.btn-stop {
  background-color: var(--signal-color-red);
}

.btn-reset {
  background-color: #dadada;
}

.hint {
  background-color: #dadada;
  padding: 12px;
  border-radius: var(--border-radius);
  font-size: 14px;
  font-style: italic;
  width: 100%;
  text-align: center;
}

.card-wrapper img {
  width: 316px;
}
